:root {
    --black-color: #000;
    --white-color: #fff;
    --btn-color: #D03636;
}

* {
    box-sizing: inherit;
}

.html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
}

.inter {
  font-family: "Inter", sans-serif;
}

.btn {
    height: 55px;
    border-radius: 75px;
    cursor: pointer;
    font-size: 20px;
    outline: none;
}